{
    "video_support": true,
    "auto_add": false,
    "generate_ssl_cert": true,
    "certfile": "fullchain.pem",
    "keyfile": "privkey.pem",
    "mailbox": false,
    "mailbox_port": 12345,
    "mailbox_extension": "100",
    "log_level": "notice",
    "ami_password": "admin"
}
